/* GLOBAL */

#root {
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  background: #fff;
  -webkit-box-shadow: 0 0 11px rgba(1,1,1,0.4);
  box-shadow: 0 0 10px rgba(0,0,0,0.4);
  overflow: hidden;
}

#root .row {
  margin-right: 0;
  margin-left: 0;
}

html h1, html h2, html h3, html h4, html h5, html h6 {
  text-transform: uppercase;
  font-weight: 600;
}

html, html body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13pt;
  line-height: 1.75;;
}

body .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

button, a.bx {
  border: none;
  border-radius: 0;
  font-weight: 600;
  text-decoration: none;
  color: #000;
  display: inline-block;


}

.page-padded {
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 75px;
}

html hr {
  margin-top: 60px;
  margin-bottom: 50px;
}

p.emphasis {
  font-weight: 600;
}

/* NAV */
#nav {
  background-color: #82d6dd;
}

#nav a.navbar-brand img{
  min-height: 100px;
}

#nav a {
  color: #000;
  font-weight: 600;
  font-size: 10pt;
  text-transform: uppercase;
}

#nav-group {
  border-bottom: solid 1px #000;
  /* width: 55vw; */
  width: 1100px;
}

/* Enewsletter Bar */
.enewsletter-bar {
  height: 30px;
}
.enewsletter-group {
  display: none;
}
.button-login {
  position: absolute;
  right: 0;
  /* top: 7px; */
}


/* Overide Bootstrap */
@media (min-width: 992px) {
  nav .nav-item:first-child .nav-link{
    padding-left: 0 !important;
  }

   .navbar-collapse .nav-item a.nav-link {
    padding-left: 50px;
    padding-right: 20px;
  }
}

.enewsletter-bar {
  background-color: #000;
  padding: 5px 30px 5px 30px;
}
.enewsletter-bar h6 {
  color: #d1d3d4;
  display: inline-block;
  margin-bottom: 0;
  font-size: 8pt;
  margin-right: 15px;
  font-weight: 600;
}

.enewsletter-bar input {
  background-color: #000;
  border: none;
  border-bottom: solid 1px #939598;
  margin-right: 15px;
  font-size: 10pt;
  /* border-style: solid; */
}

.enewsletter-bar button {
  font-size: 8pt;
  background-color: initial;
  color: #939598;
  border: solid 1px #939598;
}



/* HOME */

/* General */

#homepage h1 {
  font-size: 1.6rem;
}
#homepage h2 {
  font-size: 1.2rem;
}

/* .mission-statement.row button,
.awareness-statement.row button,
.feature-section.row button,
*/

#root button.bx, input.bx, a.bx
 {
  border: solid 1px #000;
  padding: 5px 20px;
  text-transform: uppercase;
  font-size: 11.5pt;
  background-color: initial;
  margin-top: 15px;
  transition: .25s;
}

#root button.bx:hover, input.bx:hover, a.bx:hover {
  background-color: #16a0a5;
  color: #fff;
  border-color: #16a0a5;
  text-decoration: none;
}

/* SECTION: MISSION */
section#mission-section {
  background-color: #82d6dd;
  min-height: 400px;
  text-align: center;
  display: flex;
  align-items: center;
}

section#mission-section h1{
  margin-bottom: 20px;
}
#root .mission-statement.row {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
}
.mission-statement.row p {
  font-size: 18pt;
}

/* SECTION: IMAGE */

/* #mission-image{
  background-image: url("./images/free-the-captives-girls-banner.jpg");
  height: 550px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
} */

/* SECTION: AWARENESS */
section#awareness-section {
  background-color: #82d6dd;
  min-height: 400px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 175px;
}
section#awareness-section h2{
  margin-bottom: 20px;
}
#root .awareness-statement.row {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}



/* HOME FEATURE COMPONENT */
.feature-image img {
 max-height: 350px;
 position: absolute;
 left: -300px;
 top: 80px;
}

.feature-section {
  margin-top: 50px;
  margin-bottom: 150px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.feature-section .col {
  flex-basis: initial;
  flex-grow: initial;
  width: 50vw;
  max-width: 950px !important;
  min-width: 300px;
  padding-right: 8vw;
  padding-top: 100px;
  padding-left: 8vw;
  padding-bottom: 75px;
  background-color: #fcf5e0;
  min-height: 457px;

}

.feature-section h3 {
  max-width: 800px;
  font-size: 28pt;
  color: #16a0a5;
  position: absolute;
  left: -300px;
  top: -50px;
 }

.feature-section h4 {
  font-size: 14pt;
 }

/* Inner Templates */

/* Blog Page */
.banner-image {
  background-color: #eee;
  background-repeat: no-repeat;
  background-image: url('./images/free-the-captives-girls-banner.jpg');
  background-size: cover;
  background-position: 50% 40%;
}
.banner-image .col{
  min-height: 300px;
  padding: 4vw 4vw;
}
.banner-image .col h1 {
  font-size: 4rem;
  opacity: .75;
  mix-blend-mode: multiply;
}
.result-div {
  margin-bottom: 50px;
}

/* .blog-snippet {
  padding: 25px;
  padding-right: 30vw;
} */


/* Blog Editor */
/* .blog-editor {
  padding: 50px 50px 0 50px;
} */

/* PORTAL */
.login-page label {
  margin-right: 10px;
}

.login-page input {
  font-size: 10pt;
  padding: 0 2px 0;
}

.blog-editor h1 {
  margin-bottom: 50px;
}

.blog-editor h2 {
  margin-bottom: 40px;
}

.blog-editor h4 {
  text-transform: none;
  font-size: 13pt;
}

.blog-editor p {
  font-size: 10pt;
  line-height: 1.3;
}

input.title {
  width: 100%;
}

input.bx {
  margin-top: 0;
}

.tox-statusbar__branding {
  display: none;
}

/* Footer */
#footer {
  background-color: #82d6dd;
  margin-top: 100px;
  padding: 75px 50px 50px 50px;
  min-height: 450px;
}
#footer a svg {
  color: #000;
  font-size: 25pt;
  margin-right: 15px;
}
#footer a:hover svg {
  color: #666;
  transition: .25s;
}

#footer ul {
  padding-inline-start: 25px;
}
#footer ul a {
  color: #000;
  text-decoration: underline;
}

#footer ul a:hover {
  color: #666;
}

#footer .column:nth-child(2) {
  padding-left: 50px;
}

/* nav .nav-item:first-child .nav-link{
  padding-left: 0 !important;
} */

/* Media Query */
@media all and (max-width: 1000px){
#footer {
  padding: 25px 10px 10px;
  font-size: 11pt;
  line-height: 1.3;
}
#footer .col:nth-child(2) {
  padding-left: 15px;
}

}

@media all and (max-width: 768px){
#root .mission-statement.row {
  margin-top: 0;
}
.mission-statement.row p {
  font-size: 14pt;
}
.feature-section h3 {
  position: relative;
  left: initial;
  top: initial;
  font-size: 24pt;
  margin-top: 145px;
}
.feature-image img {
  max-height: 250px;
  /* position: relative; */
  left: initial;
  top: -100px;
}
.feature-section {
  justify-content: center;
}
.feature-section .col {
  width: 95%;
  padding-right: 25px;
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
  min-height: 457px;
}
html body {
  font-size: 12pt;
}
#footer .column:nth-child(2) {
  margin-bottom: 25px;
  padding-left: 15px;
}
#footer p.emphasis {
  margin-bottom: 5px;
}
/* About Us */
.page-padded {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 40px;
}

img.image-max {
  max-width: 250px;
  margin-bottom: 25px;
}

}

@media all and (max-width: 375px){

}
